.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#main {
	background: top right/120% no-repeat url('background.png');
}

#trip {
	width: 4rem;
}

@media (max-width: 767.98px) {
	#main {
		padding-top: 13rem !important;
	}
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}

	#main {
		background: top right/55% no-repeat url('background.png');
	}
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	#description {
		font-size: 1.2rem;
	}
}