.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.chart {
	height: 60vh;
}

#main {
	background: top right/120% no-repeat url('background.png');
}

#trip,
#cost-trip {
	width: 5rem;
}

#data-trip {
	line-height: 3rem;
}

@media (max-width: 767.98px) {
	.box {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

	#main {
		padding-top: 13rem !important;
		padding-bottom: 2rem !important;
	}
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}

	#main {
		background: top right/55% no-repeat url('background.png');
	}

	#data-current {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	#description {
		font-size: 1.2rem;
	}
}

@media (max-width: 1199.98px) {
	#data-current {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (display-mode: standalone) {

	#main,
	#introduction,
	#button-get,
	#links {
		display: none;
	}
}